body {
        font-family: Arial, sans-serif;
        margin: 40px;
        background-color: #f2f2f2;
        color: black;

    }
    h1 {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 10px;
        font-size: 50px;
    }
    h2 {
        text-align: center;
        text-decoration: underline;
        margin-top: 2px;
    }
    p {
        text-align: center;
        font-style: italic;
        margin-top: 0;
    }
    form {
        width: 80%;
        margin: auto;
        /* border: 2px solid red; */
        padding: 50px;
        border-radius: 20px;
        background-color: white;
        box-shadow: 5px 10px 18px #888888;
        

    }
    label {
        display:contents;
        font-weight: bold;
        font-size: larger;
        margin-top: 10px;
        padding-bottom: 100px;
    
    }
    
    input[type="text"], input[type="email"], input[type="date"], textarea {
        width: 100%;
        padding: 8px;
        margin-bottom: 15px;
        border: 2px solid red;
        border-radius: 15px;
        background-color: white;
        font-size: large;
    }
    textarea {
        height: 60px;
    }
    /* mobile*/
    @media (max-width:600px){
        body{
            margin:10px;
            font-size:14px
        }
        label {
            width:95%;
            padding : 15px;

        }
        input,textarea {
            font-size: 14px;
        }
        
    }
    /* Tablet*/
    @media(min-width:601px) and (max-width:1024px){
        label{
            width:85%;

        }
        input,textarea {
            font-size : 15px;
        }


    }
    /* laptop */
    @media (min-width: 1025px) {
        label {
            width:60%;
        }
    }

    .connect {
        text-align: center;
        margin-top: 30px;

    }

    .logo {
        text-align: center;
        margin-bottom: 15px;
        color: white;
    }
    .btn {
        text-align: center;
        align-items: center;
        margin-top: 20px;
        

        
    }
    .submit {
        font-size: 20px;
        font-weight: bold;
        padding: 10px 20px;
        border-radius: 10px;
        border: none;
        background-color: red;
        color: white;
        cursor: pointer;
        border: 2px solid red;
        /* background-color: blue; */
    }


    



    

